Задание 2

In [24]:
import pymysql as ps

In [25]:
sqlcon = ps.connect(host='localhost',user='root',password='kenguru123',db="dot")
curs = sqlcon.cursor()

In [26]:
curs.execute("SELECT COLUMN_NAME FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = 'one';")
descr = curs.fetchall()
collsnames = [d[0] for d in descr]
print(collsnames)

['ID', 'a1', 'a2', 'a3', 'a4', 'a5', 'a6', 'a7', 'a8', 'a9', 'a10', 'a11', 'a12', 'a13', 'a14', 'a15', 'a16', 'a17', 'a18', 'a19', 'a20']

In [18]:
import pandas as pd

data = pd.read_csv (r'/home/milkfoxy/data.csv')   
df = pd.DataFrame(data)
df.fillna('0', inplace=True)

print(df)

for row in df.itertuples():
    curs.execute("INSERT INTO one (`a1`, `a2`, `a3`, `a4`, `a5`, `a6`, `a7`, `a8`, `a9`, `a10`, `a11`, `a12`, `a13`, `a14`, `a15`, `a16`, `a17`, `a18`, `a19`, `a20`) VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)",
                 (
                 row.a1, 
                 row.a2,
                 row.a3,
                 row.a4,
                 row.a5,
                 row.a6,
                 row.a7,
                 row.a8,
                 row.a9,
                 row.a10,
                 row.a11,
                 row.a12,
                 row.a13,
                 row.a14,
                 row.a15,
                 row.a16,
                 row.a17,
                 row.a18,
                 row.a19,
                 row.a20)
                )
sqlcon.commit()

        id             a1                 a2           a3                a4  \
0        1         shrimp            almonds      avocado    vegetables mix
1        2        burgers          meatballs         eggs                 0
2        3        chutney                  0            0                 0
3        4         turkey            avocado            0                 0
4        5  mineral water               milk   energy bar  whole wheat rice
...    ...            ...                ...          ...               ...
7496  7497         butter         light mayo  fresh bread                 0
7497  7498        burgers  frozen vegetables         eggs      french fries
7498  7499        chicken                  0            0                 0
7499  7500       escalope          green tea            0                 0
7500  7501           eggs    frozen smoothie  yogurt cake    low fat yogurt

                a5                a6    a7              a8            a9  ...  \
0     green grapes  whole weat flour  yams  cottage cheese  energy drink  ...
1                0                 0     0               0             0  ...
2                0                 0     0               0             0  ...
3                0                 0     0               0             0  ...
4        green tea                 0     0               0             0  ...
...            ...               ...   ...             ...           ...  ...
7496             0                 0     0               0             0  ...
7497     magazines         green tea     0               0             0  ...
7498             0                 0     0               0             0  ...
7499             0                 0     0               0             0  ...
7500             0                 0     0               0             0  ...

                 a11        a12    a13    a14            a15     a16  \
0     low fat yogurt  green tea  honey  salad  mineral water  salmon
1                  0          0      0      0              0       0
2                  0          0      0      0              0       0
3                  0          0      0      0              0       0
4                  0          0      0      0              0       0
...              ...        ...    ...    ...            ...     ...
7496               0          0      0      0              0       0
7497               0          0      0      0              0       0
7498               0          0      0      0              0       0
7499               0          0      0      0              0       0
7500               0          0      0      0              0       0

                    a17              a18      a19        a20
0     antioxydant juice  frozen smoothie  spinach  olive oil
1                     0                0        0          0
2                     0                0        0          0
3                     0                0        0          0
4                     0                0        0          0
...                 ...              ...      ...        ...
7496                  0                0        0          0
7497                  0                0        0          0
7498                  0                0        0          0
7499                  0                0        0          0
7500                  0                0        0          0

[7501 rows x 21 columns]

Задание 3

In [1]:
import atoti as tt
session = tt.Session()

Welcome to atoti 0.6.5!

By using this community edition, you agree with the license available at https://docs.atoti.io/latest/eula.html.
Browse the official documentation at https://docs.atoti.io.
Join the community at https://www.atoti.io/register.

atoti collects telemetry data, which is used to help understand how to improve the product.
If you don't wish to send usage data, set the ATOTI_DISABLE_TELEMETRY environment variable to True.

You can hide this message by setting the ATOTI_HIDE_EULA_MESSAGE environment variable to True.

In [2]:
my_table = session.read_csv("data.csv", keys=["id"], separator=",")
my_table.head()

,a1,a2,a3,a4,a5,a6,a7,a8,a9,a10,a11,a12,a13,a14,a15,a16,a17,a18,a19,a20
id,,,,,,,,,,,,,,,,,,,,
1,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
2,burgers,meatballs,eggs,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A
3,chutney,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A
4,turkey,avocado,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A
5,mineral water,milk,energy bar,whole wheat rice,green tea,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A

In [21]:
cube = session.create_cube(my_table)

In [22]:
lst = list()
for i in range(1, 21):
    lst.append(f"a{i}")
print(lst)

['a1', 'a2', 'a3', 'a4', 'a5', 'a6', 'a7', 'a8', 'a9', 'a10', 'a11', 'a12', 'a13', 'a14', 'a15', 'a16', 'a17', 'a18', 'a19', 'a20']

In [29]:
count = list()
for i in range(len(lst)):
    curs.execute(f"SELECT COUNT({lst[i]}) FROM `one` WHERE {lst[i]} != '0';")
    count.append(int(''.join(map(str,curs.fetchone()))))
print(count)

[7503, 5749, 4391, 3347, 2531, 1866, 1371, 983, 656, 397, 258, 156, 89, 49, 27, 10, 6, 6, 5, 3]

Задание 5

In [1]:
import redis
import rediscluster
import uuid

rediscon = rediscluster.RedisCluster(host = 'localhost', port = 7001)
rediscon.flushdb()
print(rediscon)

ModuleNotFoundError: No module named 'rediscluster'

In [2]:
cursor.execute("SELECT * FROM `one`;")
curs = cursor.fetchall()

NameError: name 'cursor' is not defined

In [3]:
for words in curs[0:]:
    aruuid = uuid.uuid4().hex
    nnull = [i for i in words if i is not None]
    for j in nnull:
        rediscon.rpush(aruuid, j)

NameError: name 'curs' is not defined

In [ ]:
print(rediscon.keys()[0: 10])

In [ ]:
rediscon.lrange('57f147b83c48448ca553b9ab3999244c', 0, -1)

Задание 6

In [ ]:
data={}
keys = rediscon.keys()
for k in keys:
    l=rediscon.lrange(k,0,-1)
    data[l[0].decode("utf-8")]=len(l[1:])
    
strct = "RW"
for k,v in zip(data.keys(),data.values()):
    rediscon.hset(strct,mapping={k:v})

Kk = rediscon.hkeys(strct)
print(f"first 5 key of hash-table 'RW':{Kk[0:5]}")
print(Kk[0],' : ',redcon.hget(strct,Kk[0]))

Задание 7

In [ ]:
import random

def randf(arrKeyRn): 
    arrKeys = rediscon.keys()
    randKeys = random.choices(arrKeys, k = arrKeyRn)
    # Отбор ключей, которых нет в hash-таблице.
    while hashTName in [key.decode("UTF-8") for key in randKeys]:
        randKeys = random.choices(arrKeys, k = arrKeyRn)
    zn = [random.choice(rediscon.lrange(j, 1, -1)).decode("UTF-8") for j in randKeys]
    # Конкатенация получившихся слов через символ пробела.
    return ' '.join(zn)

for i in range(10):
    print("Key ", i, " ... ", "[", randf(random.randint(1, 40)), "]")